body {
  background-color: #E4E9FD;

  min-height: 1000px;
 font-family: "Lucida Console", Courier, monospace;
 background-color: #042940;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='31.6' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='rotate(50.4 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23005C53' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%23006357' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%23006b5a' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%2300725c' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%2300795e' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%23008060' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%23028860' href='%23a' transform=''/%3E%3Cuse stroke='%23118f61' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%231e9661' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%232a9e60' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%2336a55f' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%2342ac5d' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%234eb35a' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%235aba58' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%2366c154' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%2373c751' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%2381ce4c' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%238fd548' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%239ddb43' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23ace13d' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23bbe736' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23cbed2f' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23DBF227' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

h1 {
  color: #fff;
  padding: 10px;
}


.box {
  max-width: 600px;

  margin: 50px auto;
  background: #CBFFA1;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}


#heading {
  background-color: #DBF227;
  text-align: center;
}

.item {
  min-height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #DBF227;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #042940;
}
h4{
  color:white;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #D6D58E;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #D6D58E;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {

  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
@media screen and (max-width: 1080px) {
 html {
    height: 00px;
   width: 100vw;
   position: fixed;
 }
}
